<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 扫描controller对象 -->
	<context:component-scan base-package="com.gem.bbs.controller"></context:component-scan>

	<!-- 开启mvc的注解驱动 -->
	<mvc:annotation-driven></mvc:annotation-driven>

<!--	&lt;!&ndash; 开启aop，对类代理 &ndash;&gt;-->
<!--	<aop:config proxy-target-class="true"></aop:config>-->
	<!-- 开启shiro注解支持 -->
<!--	<bean class=" org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">-->
<!--		<property name="securityManager" ref="securityManager" />-->
<!--	</bean>-->

	<!-- 注册异常处理器 -->
	<!--<bean class="com.springmvc.exception.CustomExceptionResolver"></bean>-->

	<!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 支持文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置文件上传的最大值 -->
		<property name="maxUploadSize" value="5242880"></property>
	</bean>

    <!-- 对静态资源的解析 -->
    <mvc:resources mapping="/js/**" location="/js/"></mvc:resources>
    <mvc:resources mapping="/img/**" location="/img/"></mvc:resources>
    <mvc:resources mapping="/css/**" location="/css/"></mvc:resources>
    <mvc:resources mapping="/assets/**" location="/assets/"></mvc:resources>

	<!-- 配置拦截器 -->
	<!--<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.gem.bbs.filter.GlobalInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>-->

</beans>